
<div class="course-structure container">

  <div class="row justify-content-center text-align-center">
     <!--<img src="//via.placeholder.com/800x400" alt="" style="width: 100%">-->
    <div class="btn btn-primary course-button">Course</div>
  </div>

  <div class="row justify-content-center text-align-center">
    <div class="btn btn-secondary first-of-type">Topic</div>
    <div class="btn btn-secondary first-of-type">Topic</div>
    <div class="btn btn-secondary first-of-type">Topic</div>
    <div class="btn btn-secondary first-of-type">Topic</div>
  </div>

  <div class="row justify-content-center text-align-center">
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
  </div>

   <div class="row justify-content-center text-align-center">
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
  </div>

  <div class="row justify-content-center text-align-center">
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
  </div>

  <div class="row justify-content-center text-align-center">
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
    <div class="btn btn-secondary darken">Capsule</div>
  </div>

</div>
