<div class="container">

  <div class="row align-items-center justify-items-center">

    <div class="col-6 animated slideInLeft">

      <img src="/images/networking.jpg" class="img-fluid" alt="">

    </div>

    <div class="col-6">

      <h2 class="mb-4 animated slideInRight"><span>Eng</span>age your members </h2>

      <p class="animated slideInRight">Business and learning needs will be strategically divided into small, bite sized information packages, strategically organised into a relevant information paths that precisely meet the needs of the member, and the business.</p>

      <p class="animated slideInRight">Content Capsules™ allow for a new, highly interactive learning strategy: </p>

      <ul class="mb-0">

        <li class="fragment">Each Content Capsule provides a specific, targeted piece of information, as part of a bigger scaffold of information</li>

        <li class="fragment">A Content Capsule is designed strategically to allow members to complete one learning objective at a time  </li>

        <li class="fragment">Content Capsules™ are short, with a duration of no longer than 8 minutes</li>

        <li class="fragment">Capsules are accessible on all types of mobile devices</li>

        <li class="fragment">Capsules can be designed to include a wide variety of material to deliver the content</li>

      </ul>

    </div>

  </div>

</div>
