<div class="container">
  <div class="row">
    <div class="col-12">

	    <h2 class="mb-4 animated fadeInLeft"><span>Gami</span>fication and learning</h2>

		  <p class="animated fadeInLeft" style="animation-delay: .3s;">Gamification can be used in a learning context:</p>

  		<ul>
  			<li class="fragment">To create a better overall learning experience by increasing engagement and therefore recall and retention</li>

  			<li class="fragment">To all participants to practice real life situations and challenges in a safe environment</li>

  			<li class="fragment">To provide quality, instant feedback</li>

  			<li class="fragment">To drive strong behavioural change with spaced repetition and space retrieval</li>
  		</ul>

    </div>
  </div>
</div>