<div class="container">
  <div class="row">
    <div class="col-12">

	    <h2 class="mb-4 animated fadeInLeft"><span>Gami</span>fication</h2>

     	<p class="animated fadeInLeft" style="animation-delay: .1s;">G&G ADVC™ is about creating a learning experience that is truly interactive, highly engaging and effective.</p>

		  <p class="animated fadeInLeft" style="animation-delay: .25s;">To be able to do this, G&G ADVC™ uses the latest content tools and technologies to build content, and a radical customised gaming engine that understands and pushes members to complete and experience the content</p>

		  <p class="animated fadeInLeft" style="animation-delay: .5s;">Our gaming engine has a number of features: </p>

  		<ul>

  			<li class="fragment">Encourages completion of important learning materials </li>

  			<li class="fragment">Connects important learning tasks together  </li>

  			<li class="fragment">Allows members to earn rewards and incentives by action </li>

  			<li class="fragment">Encourages friendly competition for members  </li>

  			<li class="fragment">Allows additional reporting options  </li>

  			<li class="fragment">Builds time to complete into the learning journey  </li>

  		</ul>

    </div>
  </div>
</div>