<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4 animated slideInLeft"><span>Meas</span>urements and reporting </h2>

      <p class="animated fadeInLeft" style="animation-delay: .3s">G&G’s ADVC™ platform provides rich, real time data and a single view of each of your user’s behaviours. G&G ADVC™ data provides greater depths and insights than any other digital channel. </p>

    </div>


    	<div class="col-md-6 fragment">

    		<p>Single view of each user provides the following in real time,</p>

 

			<ul>
				<li class="fragment">Understand every user’s every action</li>

			 	<li class="fragment">Understand their engagement levels and drop off points</li>

			 	<li class="fragment">Understand what content they engage with</li>

			 </ul>

    	</div>

    	<div class="col-md-6 fragment">

    		<p>Armed with data G&G ADVC™ will trigger or deploy optimisation strategies, such as,</p>

			<ul>
				<li class="fragment">SMS or email reminders to take action</li>

				<li class="fragment">Congratulate and reward behaviour</li>

				<li class="fragment">Drive user through the full journey</li>

				<li class="fragment">Optimise your business</li>
			</ul>

    	</div>

  </div>
</div>
