<div class="container">
  <div class="row justify-items-center align-items-center">
    <div class="col-6 animated slideInLeft">
      <img src="/images/woman-on-phone.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-6">

    	<p class="animated slideInRight">All of this data is represented in customisable dashboards that supply you with the information you want and need. This data is used to maximise the learning journey of members, which will</p>

  		<ul>
  			<li class="fragment fade-left">Promote high interactivity with the content</li>
  			<li class="fragment fade-left">Track users’ engagement with Content Capsules™</li>
  			<li class="fragment fade-left">Prompt users to complete or begin a specific capsule</li>
  			<li class="fragment fade-left">Allow users to unlock exclusive content and tools</li>
  			<li class="fragment fade-left">Identify high value achievers for additional recognition</li>
  		</ul>

    </div>
  </div>
</div>