<div class="container">
  <div class="row">
    <div class="col-12">

	    <h2 class="mb-4 animated fadeInLeft"><span>Under</span>standing incentives and rewards</h2>

      <p class="animated fadeInLeft" style="animation-delay: .25s">When a member completes an important action, ADVC™ will log the action and reward that action.</p>

      <p class="animated fadeInLeft" style="animation-delay: .5s">As with Content Capsules™, we design reward systems that increase learning and application of the learning to meet business outcomes.</p>

  		<ul>

  			<li class="fragment">We connect key material, outcomes and assessments to learner behaviour on the platform</li>

  			<li class="fragment">We design rewards to the ability of the member </li>

  			<li class="fragment">We reward user behaviour that aligns with business outcomes and strategy</li>

  			<li class="fragment">We design our member learning paths around continuous awarding of behaviour to encourage engagement</li>

  			<li class="fragment">We align our digital awards with physical rewards to increase status in the real world </li>

  			<li class="fragment">We encourage our members to share and be proud of their achievements</li> 

  		</ul>

    </div>
  </div>
</div>