<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="course-structure container">

        <div class="row justify-content-center text-align-center">
           <!--<img src="//via.placeholder.com/800x400" alt="" style="width: 100%">-->
          <div class="btn btn-primary course-button">Course</div>
        </div>

        <div class="row justify-content-center text-align-center">
          <div class="btn btn-secondary first-of-type fragment">Topic</div>
          <div class="btn btn-secondary first-of-type fragment"><div class="type-wrapper"><span class="comms"></span></div>Topic</div>
          <div class="btn btn-secondary first-of-type fragment"><div class="type-wrapper"><span class="comms"></span></div>Topic</div>
          <div class="btn btn-secondary first-of-type fragment"><div class="type-wrapper"><span class="comms"></span></div>Topic</div>
        </div>

        <div class="row justify-content-center text-align-center">
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="comms"></span><span class="reputation"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-right"><div class="type-wrapper"></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-left"><div class="type-wrapper"><span class="reputation"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="reputation"></span><span class="behaviour"></span></div>Capsule</div>
        </div>

         <div class="row justify-content-center text-align-center">
          <div class="btn btn-secondary darken fragment fade-up">Capsule</div>
          <div class="btn btn-secondary darken fragment fade-right"><div class="type-wrapper"><span class="comms"></span><span class="behaviour"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-left"><div class="type-wrapper"><span class="comms"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="skill"></span></div>Capsule</div>
        </div>

        <div class="row justify-content-center text-align-center">
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="skill"></span><span class="comms"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-right"><div class="type-wrapper"><span class="skill"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-left"><div class="type-wrapper"><span class="comms"></span><span class="behaviour"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="reputation"></span></div>Capsule</div>
        </div>

        <div class="row justify-content-center text-align-center">
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="comms"></span><span class="test"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-right"><div class="type-wrapper"><span class="test"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-left"><div class="type-wrapper"><span class="comms"></span><span class="reputation"></span><span class="test"></span></div>Capsule</div>
          <div class="btn btn-secondary darken fragment fade-up"><div class="type-wrapper"><span class="comms"></span><span class="reputation"></span><span class="test"></span></div>Capsule</div>
        </div>

        <p class="text-center mb-0 mt-3"><b>Legend</b></p>

        <ul class="text-center">
          <li><span class="comms"></span> Comms</li>
          <li><span class="Reputation"></span> Reputation</li>
          <li><span class="Skill"></span> Skill</li>
          <li><span class="Behaviour"></span> Behaviour</li>
          <li><span class="Test"></span> Test</li>
        </ul>


      </div>

    </div>
  </div>
</div>