<div class="container">

  <div class="row justify-content-center">

    <div class="col-8">

      <h2 class="mb-5 animated slideInLeft"><span>Kai</span>zen and the forgetting curve</h2>

      	<p>The forgetting curve proposes (roughly) that someone on training will forget almost 50% of what they have learnt within 60 minutes, and over 70% of what they have learnt in a month.</p>

		    <%- include .././charts/forgetting-curve.svg %>

    </div>

  </div>

</div>