<div class="container">

  <div class="row align-items-center justify-items-center">

    <div class="animated slideInLeft col-6">

      <img src="/images/collaborate.jpg" class="img-fluid" alt="">

    </div>

    <div class="col-6">

      <h2 class="mb-3 animated slideInRight"><span>Fix</span>ing Learning with modern understanding</h2>

      	<p class="animated slideInRight">Kaizen is the Japanese principle of continuous improvement.</p>

		    <p class="animated slideInRight">Continuous changes made over time are far more effective than big changes made every now and then.</p>

    </div>

  </div>

</div>