<div class="container">

  <div class="row justify-content-center">

    <div class="col-8">

      <h2 class="mb-5 animated slideInLeft"><span>BIG</span> BANG learning</h2>

        <%- include .././charts/big-bang.svg %>

    </div>

  </div>

</div>