<section id="member-at-the-centre-of-everything">
	<div class="container">
	  <div class="row align-items-center justify-items-center">

	  	<div class="col-sm-6 d-none d-md-flex animated fadeInleft">

	  		<img src="/images/people.jpg" class="img-fluid" alt="">

	  	</div>

	    <div class="col-sm-6">
	      <h2 class="mb-4 animated fadeInRight"><span>The</span> member at the centre of everything</h2>

	      	<p class="animated fadeInRight" style="animation-delay: .2s;">G&G ADVC™ uses a trademarked content methodology to understand the business needs, and the exact learning needs for each member type of your organisation. This allows the design of truly unique and effective learning for members of the program. </p>

	      	<ul class="mb-0">
	      		<li class="fragment fade-right">Our methodology understands learning styles and preferences</li>
						<li class="fragment fade-right">Turns business needs into actionable learning programs</li>
						<li class="fragment fade-right">Develops and assigns relevant knowledge to specific member types, in the format they best understand</li>
						<li class="fragment fade-right">Strategically maps existing data, and clearly defines data requirements</li>
	      	</ul>

	    </div>
	  </div>
	</div>
</section>