<section id="content-capsules">

	<section><%- include ../partials/slide12/_section-1 %></section>

	<section><%- include ../partials/slide12/_section-2 %></section>

  <section data-background-iframe="http://localhost:5000/dashboard/members" data-background-interactive></section>

  <section><%- include ../partials/slide12/_section-3 %></section>

  <section><%- include ../partials/slide12/_section-4 %></section>

  <section data-background-iframe="http://localhost:5000/help-centre" data-background-interactive></section>

</section>