<section data-transition="slide" data-background="#ffffff" id="how-it-works">

	<div class="container">

	<div class="row align-items-center justify-items-center">

	    <div class="animated slideInLeft col-md-6">

				<img src="/images/buisiness-man.jpg" class="img-fluid" alt="">

	    </div>

	    <div class="col-md-6">

	    	<h2 class="animated slideInLeft mb-4"><span>How</span> it works</h2>

	      <p class="animated slideInRight">Through targeted learning, the advocate can increase their ability to properly advise their clients. Learning will increase their knowledge, and the higher their level of knowledge, the higher their ability to properly advise their clients correctly.</p>

	      <ul>

	      	<li class="fragment fade-left">G&G ADVC empowers and builds trust for your brand with your customers</li>

	      	<li class="fragment fade-left">Creating brand advocates in strategic positions where they can directly influence customer choice</li>

					<li class="fragment fade-left">Uses a state of the art, bespoke technical platform to deliver high impact content directly to users on the device of their choice</li>

					<li class="fragment fade-left">In turn, your advocates will deliver better quality solutions and service to your customers, using your brand to improve the lives of your customers</li>

	      </ul>

	    </div>

  	</div>

	</div>



</section>