<section id="next-generation-info-structure">
	<div class="container">
	  <div class="row">
	    <div class="col-12">
	      <h2 class="mb-4 animated slideInLeft"><span>Nex</span>t generation info-structure</h2>

	      <h4 class="mb-4 animated slideInLeft" style="animation-delay: .5s;">ADVC™ utilises a process whereby</h4>

	      <ul>
	      	<li class="fragment fade-right">The business needs and outcomes are specifically defined</li>

					<li class="fragment fade-right">The members precise learning needs as established</li>

					<li class="fragment fade-right">The preferences and requirements for member types is documented</li>

					<li class="fragment fade-right">The existing knowledge is catalogued and mapped</li>

					<li class="fragment fade-right">A content design and production plan is blueprinted</li>

					<li class="fragment fade-right">The content is delivered in high impact, interactive Content Capsules™</li>

					<li class="fragment fade-right">The members behaviours, and interactions with the content are measured, rewarded and analysed</li>
	      </ul>

	      <p class="fragment fade-up">In order to best deliver on these principals, ADVC™ is a step by step needs analysis and content planning and execution process.</p>

	    </div>
	  </div>
	</div>
</section>