<section id="measurements-reporting">
	<section><%- include ../partials/slide15/_section-1 %></section>
	<section data-background-iframe="http://18.130.116.234:5000/emailer/" data-background-interactive><%- include ../partials/slide15/_section-2 %></section>
  <section><%- include ../partials/slide15/_section-3 %></section>
  <section data-background-iframe="http://18.130.116.234:5000/dashboard/client" data-background-interactive><%- include ../partials/slide15/_section-4 %></section>
</section>