  <section id="gamification">
	<section><%- include ../partials/slide13/_section-1 %></section>
	<section><%- include ../partials/slide13/_section-2 %></section>
	<section data-background-iframe="http://18.130.116.234:5000/achievements" data-background-interactive><%- include ../partials/slide13/_section-3 %></section>
</section>