<section id="summary">
	<div class="container">
	  <div class="row">
	    <div class="col-12">
	      <h2 class="mb-5 animated slideInLeft"><span>Tha</span>nk You</h2>
	    </div>
	  </div>
	</div>
</section>