<section id="advc-strategies">

  <section>
    <div class="container">

      <div class="row justify-content-center">

        <div class="col-12 p-0">

          <h2 class="mb-4 animated slideInLeft"><span>ADVC</span> Strategies</h2>

        </div>

        <div class="row">

        </div>
        <div class="col-md-6 fragment fade-up">

          <h4>ADVC</h4>

          <p>The pure ADVC strategy uses the technical platform in order to build advocacy within your organisation. Through targeted learning, the advocate can increase their ability to properly advise their clients. Learning will increase their knowledge, and the higher their level of knowledge, the higher their ability to properly advise their clients correctly.</p>

        </div>

        <div class="col-md-6 fragment fade-up">

          <h4>ACDM</h4>

          <p>The ACDM strategy organises your learning activities to deliver training and development within your organisation. This learning specific strategy uses the platform, and its advanced technology, to deliver customised learning, reward and incentive programs to your employees.</p>

        </div>

      </div>

    </div>

  </section>

  <section>

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <h2 class="mb-3 animated fadeInRight"><span>Bui</span>lding learning for today’s workforce</h2>
          <p class="animated fadeInRight">Cognitive scientists have proven that humans learn most effectively with short bursts of information, that have been strategically divided in a progressive pathway that is set within a clear scaffold of content.</p>

          <p class="animated slideInLeft">Consider the below factors from Udemy Research: <b>2018 Workplace Distraction Report</b></p>

          <ul>

            <li class="fragment fade-right">the average employee received 304 business-related emails weekly </li>

            <li class="fragment fade-right">took around 16 minutes to refocus attention after handling incoming email </li>

            <li class="fragment fade-right">checked email 36 times an hour </li>

            <li class="fragment fade-right">the average employee lost 31 hours a month in meetings </li>

            <li class="fragment fade-right">is disrupted around 56 times a day, taking two hours daily to recover from these disruptions </li>

            <li class="fragment fade-right">Upward of 40 percent of an employee’s actual workday is spent on non-productive efforts, costing companies millions in lost productivity</li>

          </ul>

        </div>
      </div>
    </div>
  </section>

</section>