<section id="personalised-learning-for-members">
	<div class="container">
	  <div class="row">
	    <div class="col-12">
	      <h2 class="mb-4 animated slideInLeft"><span>Pers</span>onalised learning for members</h2>

	      	<p class="animated slideInLeft">G&G ADVC™ uses a trademarked content methodology to understand the business needs, and the exact learning needs for each member type of your organisation. This allows the design of truly unique and effective learning for members of the program.</p>

	      	<p class="animated slideInLeft">A single personalised dashboard is a way to provide the most important information to the user, so they are aware of their progress, new content available and what achievements they have earned to date.</p>

	      	<p class="animated slideInLeft">The dashboard will also assist the user to accomplish their tasks intuitively, without frustration and allow them to find the information they need easily. </p>

	    </div>

	    <div class="col-md-6">

				<ul>

						<li class="fragment">Available courses</li>
						<li class="fragment">Courses completed</li>
						<li class="fragment">Badges earned</li>
						<li class="fragment">Value added content available</li>

					</ul>

	    </div>

	    <div class="col-md-6">

	    	<ul>
	    		<li class="fragment">News</li>
						<li class="fragment">Events (if relevant)</li>
						<li class="fragment">Recently accessed items</li> 
	    	</ul>

	    </div>
	  </div>
	</div>
</section>