<section data-background="/images/title-page-bg.jpg" style="top: 250;" >

  <div class="text-center">

    <img src="/images/G-G-advc-logo.svg" class="img-fluid animated fadeInDown" alt="G&G ADVOCACY" width="550" style="margin: 0 auto;">

  </div>

</section>