<div class="container">

  <div class="row">

    <div class="col-12">

      <h2 class="mb-4 animated slideInLeft"><span>ADVC</span> consultancy</h2>

      <p class="animated slideInLeft">Our learning and content experts will enable you to</p>

      <ul>

        <li class="fragment fade-right">Clearly define your business outcomes</li>

        <li class="fragment fade-right">Enable solutions for high impact learning</li>

        <li class="fragment fade-right">Build content to execute learning to the target markets ability and needs</li>

        <li class="fragment fade-right">Apply next generation learning technology and techniques, such as Gamification, to build high responsive, interactive content journeys </li>

        <li class="fragment fade-right">Design highly responsive communications strategy to keep members engaged</li>

        <li class="fragment fade-right">Implement high detail reporting and analytics to understand user behavior</li>

      </ul>

    </div>

  </div>

</div>