<div class="fluid-container p-5">

  <div class="row">

    <div class="col-12">

      <h2 class="text-center mb-3 animated slideInUp"><span>Demo</span> ADVC process</h2>

      <p class="col-md-5 mb-4 text-center animated slideInUp" style="margin: 0 auto;">The ADVC process is a series of workshops whereby the exact needs, requirements, threats and opportunities are identified for the use of ADVC within a client’s business.</p>

    </div>

  </div>

  <div class="row timeline">

  	<div class="timeline-item animated fadeInUp">

  		<div class="icons"></div>

  		<h6 class="mb-3">Initial client needs<br />analysis and proposal</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>The first process is a basic discussion-based workshop where the initial analysis is done for the suitability of deploying ADVC within the client’s structure. Here an ADVC business development specialist would outline the core features, steps and processes to design and build the ADVC program, and build a basic understanding of the needs and requirements for the organization</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">ADVC Platform<br />scope workshop:</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>The first formal workshop will consist of an interview with key stakeholders within the client’s business, the purpose of which would be to build a platform scope that specifically meets the needs and requirements of the clients organization. In the platform scope, G&G ADVC will design a high-level overview of how ADVC will work in the organization, its specific design, benefits, and member profiles. In this workshop, timetables will be set, recommendations for what aspects of the platform will be utilized and an overview project plan, and budget plan will be set.</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">ADVC Member<br />analysis workshop</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>In the member analysis workshop, the G&G ADVC team will workshop a specific, identified member type. In this step, the exact background of the member is explored, the needs, requirements, education and business outcomes will be established. From the member analysis workshop, the client and G&G will have an exact overview and understanding of the member to begin constructing a dedicated user pathway for them, based on their needs and requirements.</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">ADVC Member<br />journey workshop</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>The ADVC member journey workshop is an internal workshop whereby the platform scope, and the member analysis workshops' outputs are designed into our proprietary methodology. Here, the business needs and outcomes are translated into real, specific learning designs and placed into a clear content wireframe for each member type. The output of this session is a wireframe for the client’s approval.</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">ADVC Member<br />content brief</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>The member content brief is an internal workshop, where the wireframe is translated into a set of briefing documents. Each course, topic and capsule are briefed into design, with time frames pre-requisites and schedules.</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">Content<br />creation</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>Armed with the specific content briefs, the content team can begin the design of the content to meet requirements.</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">Platform setup<br />and design</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>The platform setup and design is a document where the exact infrastructure for the platform is designed, developed and implemented. Here our specialists will implement the look and feel, and learning design for the actual platform, and set up all required pages, fields and features.</p>

  		</div>

  	</div>

  	<div class="timeline-item fragment fade-right">

  		<div class="icons"></div>

  		<h6 class="mb-3">ADVC<br />deployment</h6>

  		<div class="timeline-graph"><i class="fas fa-long-arrow-alt-right animated infinite rubberBand"></i></div>

  		<div class="timeline-descr">

  			<p>On completion of content creation, and the platform setup, the program will proceed to upload, deployment and launch.</p>

  		</div>

  	</div>

  </div>

</div>