<div class="container">

  <div class="row">

    <div class="col-12">

      <h2 class="mb-4 animated fadeInLeft"><span>Int</span>eractive Help Centre</h2>

      <p class="animated fadeInLeft" style="animation-delay: .5s;">G&G ADVC contains a full built in help centre to help its users find the information they need. The Help Centre is designed to allow a simple, and quick, way to share answers to common questions that our members may have, without the user needing to contact support and wait.</p>

      <p class="animated fadeInLeft" style="animation-delay: 1s;">The Help Centre will also allow the administrators to share how to articles on the best use of the capabilities of G&G </p>

      <ul>

        <li class="fragment fade-right">User -Centric</li>

        <li class="fragment fade-right">Live search results</li>

        <li class="fragment fade-right">Interactive answers and articles</li>

        <li class="fragment fade-right">Repository of company knowledge</li>

        <li class="fragment fade-right">Good known reference point for members</li>

      </ul>

    </div>

  </div>

</div>