<div class="container">

  <div class="row align-items-center justify-items-center">

    <div class="col-6 animated slideInLeft">

      <img src="/images/ipad.jpg" class="img-fluid" alt="">

    </div>

    <div class="col-6">

      <h2 class="mb-4 animated slideInRight"><span>Cap</span>sule content</h2>

      <p class="animated slideInRight">The G&G Content Capsule methodology allows dense, difficult information to be delivered in high impact, interactive bursts of information</p>

      <p class="animated slideInRight">These bursts are perfectly aligned to the attention span of the busy workforce</p>

      <div class="row">

        <div class="col-6">

          <ul class="mb-0">

            <li class="fragment">Stories, videos, audio clips, infographics, short and long-form articles make learning about your brand more memorable</li>

            <li class="fragment">Digital experiences are interactive, engaging the user in different ways in the same content</li>

          </ul>
        </div>

        <div class="col-6">

          <ul class="mb-0">

            <li class="fragment">Diagrams and graphs can animate and information unfolds as the user explores the material</li>

            <li class="fragment">Rich media content, such as photos and video make content rewarding and easy to understand and retain</li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</div>
