<div class="container">

  <div class="row">

    <div class="col-12">

      <h2 class="text-center mb-4"><span>Ana</span>tomy of a capsule</h2>

      <img src="/images/mock-up.png" alt="" class="animated slideInUp img-fluid" style="display: block; margin: 0 auto;">

    </div>

  </div>

</div>
