<div class="container">

  <div class="row">

    <div class="col-12">

      <h2 class="mb-4 animated fadeInLeft"><span>Cont</span>ent mixed to your requirements</h2>

    </div>

    <div class="col-6">

      <ul>

        <li class="fragment fade-right"><i></i> Interactive Videos</li>

        <li class="fragment fade-right"><i></i> Multiple choice </li>

        <li class="fragment fade-right"><i></i> Guess the answer</li>

        <li class="fragment fade-right"><i></i> Decision trees</li>

        <li class="fragment fade-right"><i></i> Branching scenarios</li>

        <li class="fragment fade-right"><i></i> Virtual tours</li>

        <li class="fragment fade-right"><i></i> Flashcards</li>

        <li class="fragment fade-right"><i></i> Image sequences and collages</li>

      </ul>

    </div>

    <div class="col-6">

      <ul>

        <li class="fragment fade-right"><i></i> Drag and drop</li>

        <li class="fragment fade-right"><i></i> Audio </li>

        <li class="fragment fade-right"><i></i> Drag and drop</li>

        <li class="fragment fade-right"><i></i> Text </li>

        <li class="fragment fade-right"><i></i> Charts and illustrations</li>

        <li class="fragment fade-right"><i></i> Simulations</li>

        <li class="fragment fade-right"><i></i> Time based quizzes</li>

      </ul>

    </div>

  </div>

</div>